 .image{
    padding-left: 40%;
    /* height: 40%; */
/* top: -100px; */
    /* position: relative; */
}
img{
    padding-left: 35px;
width: 80%;
height: 60%;  
top: -140px;
    position: relative;
} 

.Booking{
        padding-left: 50%;
        position: relative;
            top: -75px;
}
#book{
    width: 100px;
    margin-right: 15px;
    margin-left :20px;
    position: relative;

   
}